*~
ORB_SLAM/*~
ORB_SLAM/bin
ORB_SLAM/build
ORB_SLAM/cmake_modules
ORB_SLAM/msg_gen
ORB_SLAM/Thirdparty
ORB_SLAM/KeyFrameTrajectory.txt
ORB_SLAM/Changelog.md
ORB_SLAM/Data
ORB_SLAM/src/ORB_SLAM
ORB_SLAM/src/*~
ORB_SLAM/include/*~
ORB_SLAM/*md

usb_cam/

imu_image/*~
imu_image/src/*~
imu_image/include/imu_image/*~
imu_image/msg/*~
imu_image/launch/*~
